<template>
    <Page>
      <Wrapper>
        <h6>Botones: Primary</h6>
        <Wrapper variation columns="3">
          <div>
            <p>Default</p>
            <Button format="primary" text="Primary default" />
          </div>
          <div>   
            <p>Disabled</p>
            <Button format="primary" disabled text="Primary disabled" />
          </div>
          <div>
            <p>Loading / Disabled</p>
            <Button format="primary" text="Primary loading" loading />
            <Button format="primary" text="Primary loading disabled" loading disabled />
          </div>
          <div>
            <p>Small Default</p>
            <Button format="primary" variation="small" text="Primary small" />
          </div>
          <div>
            <p>Small Disabled</p>
            <Button format="primary" variation="small" disabled text="Primary disabled small" />
          </div>
          <div>
            <p>Small Loading / Disabled</p>
            <Button format="primary" variation="small" text="Primary loading" loading />
            <Button format="primary" variation="small" text="Primary loading disabled" loading disabled />
          </div>
        </Wrapper>
        <div>
          <p>Block</p>
          <Button format="primary" block text="Primary block" />   
          <p>Block Small</p>
          <Button format="primary" variation="small" block text="Primary block small" />   
        </div>
        <hr />
        <h6>Botones: Secondary</h6>
        <Wrapper variation columns="3">
          <div>
            <p>Variation: White</p>
            <Button format="secondary" variation="white" text="Secondary white" />
          </div>
          <div>
            <p>Variation: White Disabled</p>
            <Button format="secondary" variation="white" disabled text="Secondary white disabled" />
          </div>
          <div>
            <p>Variation: White Loading / Disabled</p>
            <Button format="secondary" variation="white" loading loadingPrimary text="Secondary white loading" />
            <Button format="secondary" variation="white" loading loadingPrimary disabled text="Secondary white loading disabled" />
          </div>
          <div>
            <p>Variation: Ghost</p>
            <Button format="secondary" variation="ghost" text="Secondary ghost" />
          </div>
          <div>
            <p>Variation: Ghost Disabled</p>
            <Button format="secondary" variation="ghost" disabled text="Secondary ghost disabled" />
          </div>
          <div>
            <p>Variation: Ghost Loading / Disabled</p>
            <Button format="secondary" variation="ghost" loading text="Secondary ghost loading" />
            <Button format="secondary" variation="ghost" loading disabled text="Secondary ghost loading disabled" />
          </div>
          <div>
            <p>Variation: White/Ghost invertido</p>
            <div style="background-color: #445FB0; padding: 5px 0;">
              <Button format="secondary" inverted text="Secondary invertido" />
            </div>
          </div>
          <div>
            <p>Variation: White/Ghost invertido Disabled</p>
            <div style="background-color: #445FB0; padding: 5px 0;">
              <Button format="secondary" inverted disabled text="Secondary invertido disabled" />
            </div>
          </div>
          <div>       
            <p>Variation: White/Ghost invertido Loading / Disabled</p>
            <div style="background-color: #445FB0; padding: 5px 0;">
              <Button format="secondary" inverted loading text="Secondary invertido loading" />
              <Button format="secondary" inverted loading disabled text="Secondary invertido loading disabled" />
            </div>
          </div>
        </Wrapper>
        <hr />
        <h6>Botones: con Icono</h6>
        <Wrapper variation columns="4">
          <div>
            <p>Icono derecha</p>
            <Button format="primary" variation="icon" text="Icon derecha" icon="search" position="right" />
          </div>
          <div>
            <p>Icono izquierda</p>
            <Button format="primary" variation="icon" text="Icon izquierda" icon="search" position="left" />
          </div>
          <div>
            <p>Icono custom</p>
            <Button format="primary" variation="icon" text="Custom icon" position="left">
              <img class="iconoCustom" src="icons/search.svg" />
            </Button>
          </div>
          <div>
            <p>Icono custom</p>
            <Button format="primary" variation="icon" text="Custom icon" position="right">
              <img class="iconoCustom" src="icons/search.svg" />
            </Button>
          </div>
        </Wrapper>
        <hr />
        <Wrapper variation>
          <div>
            <h6>Botones: condensed</h6>
            <Wrapper variation>
              <div>
                <p>Default</p>
                <Button format="condensed" icon="search" />
              </div>
              <div>
                <p>Disabled</p>
                <Button format="condensed" icon="search" disabled />
              </div>
            </Wrapper>
          </div>
          <div>
            <h6>Botones: icon</h6>
            <Wrapper variation>
              <div>
                <p>Default</p>
                <Button format="icon" icon="alert" />
              </div>
              <div>
                <p>Disabled</p>
                <Button format="icon" icon="alert" disabled />
              </div>
            </Wrapper>
          </div>
        </Wrapper>
        <hr />
        <h6>Botones: close</h6>
        <Wrapper variation columns="3">
          <div>
            <p>Close: default</p>
            <Button format="close" />
          </div>
          <div>
            <p>Close: small</p>
            <Button format="close" variation="small" />
          </div>
          <div>
            <p>Close: inverted</p>
            <div style="background-color: #445FB0; padding: 5px 0;">
              <Button format="close" inverted />
            </div>
          </div>
        </Wrapper>
        <hr />
        <h6>Botones: back y next</h6>
        <Wrapper variation columns="4">
          <div>
            <p>Back: default</p>
            <Button format="back" />
          </div>
          <div>
            <p>Next: default</p>
            <Button format="next" />
          </div>
          <div>
            <p>Back: con texto</p>
            <Button format="back" text="Back" />
          </div>
          <div>
            <p>Next: con texto</p>
            <Button format="next" text="Next" />
          </div>
          <div>
            <p>Back: con texto variation</p>
            <Button format="back" text="Back" position="bottom" />
          </div>
          <div>
            <p>Next: con texto variation</p>
            <Button format="next" text="Next" position="bottom" />
          </div>
          <div>
            <p>Back: disabled</p>
            <Button format="back" disabled />
          </div>
          <div>
            <p>Back: disabled con texto</p>
            <Button format="back" text="Back" disabled />
          </div>
        </Wrapper>
      </Wrapper>
      <hr />
      <Wrapper>
        <h6>Ejemplos</h6>
        <p>Click</p>
        <Button format="primary" text="Primary default" @click="clickButton" />
        <p>Click cambiando estado a disabled (esperar 2 seg)</p>
        <Button format="primary" text="Primary default" @click="clickButton2" :disabled="botonDisabled" />
        <Button format="secondary" variation="white" text="Primary default" @click="clickButton2" :disabled="botonDisabled" />
      </Wrapper>
    </Page>
  </template>

  <script>
  export default {
    data() {
      return {
        botonDisabled: false
      }
    },
    methods: {
      clickButton() {
        alert("Botón cliqueado")
      },
      clickButton2() {
        this.botonDisabled = true
        this.interval = setInterval(
          function(a) {
            clearInterval(this.interval);
            this.botonDisabled = false;
          }.bind(this),
          2000
        );
      }
    }
    
  }
  </script>